<% if user_signed_in? %>
   <div class="sub_header">
     <%= link_to "Home", current_user, :class => "right buttons" %><br>
     <%= link_to "All posts", root_path, :class => "left buttons"%>  
   </div>

   <div class="logged_posts_wrapper" > 
<% else %>
   <div class="posts_wrapper post_wrapper">
<% end %>

   <h2> <%= @post.title %></h2>
   <p><% unless @post.tags.empty? %>
      Tags of the post: <%= render @post.tags %>
      <% end %>
   </p>
 
   <p>Authored by: <%= link_to @post.user.profile.uname, {:controller => "profiles", :action => "show", :user_id => @post.user, :post_id => @post }, :class => "link_tags" %></p>

   <p class="left_padding"><%= @post.body %></p>

   <h5>Comments(<%= @post.comments.count %>):</h5>
 
   <%= render @post.comments %>
  
	
    <% if user_signed_in? %> 
	 <div class="comments_wrapper"> 
	    <h3>Add Comments </h3>
	    <%= render 'comments/form' %>
	 </div>
	<% else %>
	    <p><%= link_to "login to comment", new_user_session_path, class: "link_tags" %></p> 
	<% end %>
    
</div>