<%= link_to "Back to Dashboard", current_user%><br>
<hr>
Title: <%= @post.title %><br>

Content: <%= @post.body %><br>

<%= link_to "Edit", edit_user_post_path(current_user.id, @post)%>
<%= link_to "Delete", user_post_path(current_user.id, @post), method: :delete, 
									data: {confirm: "Delete the post?"}%>


<hr>
<h3>Comments(<%= @post.comments.count %>):</h3>
<hr>
    <%= render @post.comments %>
  
<h3>Add Comments </h3>

   <%= render 'comments/form' %>
<!-- <%= link_to "new comments", new_post_comment_path(@post)%> -->