<!DOCTYPE html>
<html>
	<head>
	  <title>NewBlog</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header'%> 

		<section id="main_content">
		    <%= render 'layouts/shim'%> 
		    <%= render 'layouts/sidebar'%> 
		    <%= yield %> <!-- yield -->
		</section>
		
		<%= render 'layouts/footer'%> 

	</body>
</html>
